.App {
  text-align: center;
}

.homepage-container {
  border: 1px solid black;
  position: fixed;
  width: 1000px;
  height: 750px;
  margin: 25px;
}

.flip-button {
  cursor: pointer;
  margin-top: -40px;
}
